.createQuestionBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 0 20px;

  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(155, 167, 242);
  font-family: "Monotype Corsiva";
}

.createQuestionBlock input[type=text] {
  font-size: 1.5em;
  font-family: inherit;
}

.createQuestionBlock .answerVarients {
  /* background-color: black; */
}

.createQuestionBlock .answerVarients .varient {
  /* display: inline-block; */
  display: flex;
  align-items: center;

  margin: 5px 0;
}

.createQuestionBlock .answerVarients .varient input[type=button] {
  align-self: stretch;
}

.createQuestionBlock .answerVarients .varient input[type=radio] {
  align-self: center;
}

.createQuestionBlock .answerVarients .varient .varientNumber {
  margin: auto;
  font-size: 1.5em;
  font-family: inherit;
}

.createQuestionBlock .answerVarients .varient input[type=text],
.createQuestionBlock .answerVarients .varient input[type=number] {
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  font-family: inherit;
}
