.PropertyField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 4px 0;
  padding: 5px;
  margin: 5px;
}

.PropertyField .Property {
  font-size: 1.5em;
}

.PropertyField .PropertyInput input {
  /* width: 100%; */
  padding: 5px;
  font-size: 1em;
}
