@font-face {
	font-family: 'Proxima Nova';
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), 
		url('fonts/Proxima_Nova/ProximaNova-Regular.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
		url('fonts/Proxima_Nova/ProximaNova-RegularIt.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova';
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('fonts/Proxima_Nova/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
		url('fonts/Proxima_Nova/ProximaNova-BoldIt.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}