.PassTest {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.testName {
  margin: auto;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 3em;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.questionBlockVarient {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin: auto;
  margin-top: 20px;
}

.questionBlockVarient .divQuestionBlockNumber {
  display: flex;
  flex: 0 1 auto;
  min-width: 100px;
  background-color: rgb(255, 255, 158);
  border-radius: 5px;
}

.questionBlockVarient .divQuestionBlockNumber .questionBlockNumber {
  text-align: center;
  font-size: 5em;
  color: black;
  display: block;
  margin: auto;
}

.questionBlockVarient .QuestionBlock {
  margin: 0;
}

.finishBtn {
  margin-top: 20px;
  margin-bottom: 20px;

  width: 100%;
  height: 50px;
  background-color: rgb(0, 132, 255);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
