.questionBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-left: 10px;

  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(155, 167, 242);
  font-size: 1.5em;
}

.questionBlock .blockQuestion {
  background-color: white;
  border-radius: 5px;
  margin: 5px 0 10px;
  padding: 5px;
  overflow-y: auto;
}

.questionBlock .answerVarients {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

.questionBlock .answerVarients .varient {
  display: flex;
  align-items: center;
  background-color: rgb(204, 204, 204);
  padding: 2px;
  border-radius: 2px;
  margin: 3px 2px;
}

.questionBlock .answerVarients .varient input[type=text],
.questionBlock .answerVarients .varient input[type=number] {
  width: 100%;
}

.questionBlock .answerVarients .varient label {
  display: flex;
  align-items: center;
}

.questionBlock .answerVarients .varient p {
  margin: 0;
  /* display: inline-block; */
}

.questionBlock .answerVarients .varient input {
  border-radius: 2px;
  margin: auto 5px;
}
