.ChooseTest {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 80%;
  font-family: "Monotype Corsiva";
}

.ChooseTest h1 {
  margin: 20px auto;
}

.ChooseTest .tests {
  margin: 20px auto;

  display: grid;
  /* grid-auto-rows: 50% 50%; */
  grid-template-columns: 50% 50%;

  padding: 10px;
  width: 80%;
  font-family: inherit;
}

.ChooseTest .tests .testVarient {
  padding: 10px;
  justify-self: center;
  align-self: center;
  width: 90%;
  font-family: inherit;
}

.ChooseTest .tests .testVarient .chooseTestBtn {
  width: 100%;
  height: 10vh;

  background-color: rgb(173, 154, 108);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 2em;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}
