.AddQuestionBlock {
  margin: auto;
  width: 100%;
  margin: 20px auto;
  font-family: "Monotype Corsiva";
}

.AddQuestionBlock button {
  width: 100%;
  height: 50px;

  background-color: rgb(110, 173, 85);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 2em;
  font-family: inherit;
}

.ChooseTypeOfQuestionBlock {
  margin: 20px auto;
  width: 100%;

  display: flex;
  justify-content: space-between;

  height: 50px;
  font-family: inherit;
}

.ChooseTypeOfQuestionBlock .CancelQuestionBlockBtn {
  flex: 0 1 auto;
  min-width: 50px;
  font-size: 1.2em;
  font-family: inherit;
}

.ChooseTypeOfQuestionBlock .QuestionBlockType {
  flex: 1 5 70%;
  min-width: 100px;
  font-size: 1.2em;
  font-family: inherit;
}

.ChooseTypeOfQuestionBlock .CreareQuestionBlockBtn {
  flex: 0 1 auto;
  min-width: 50px;
  font-size: 1.2em;
  font-family: inherit;
}
